<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_file"       default=" $(find stage_launch)/maps/swarm.yaml"/> <!-- robopark_plan -->
  <arg name="world_file"     default=" $(find stage_launch)/world/swarm_stage_5v0.world"/>

  <param name="/use_sim_time" value="true"/>
 
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="robot_0/base_scan" to="robot_0/scan"/>
    <remap from="robot_1/base_scan" to="robot_1/scan"/>
    <remap from="robot_2/base_scan" to="robot_2/scan"/>
    <remap from="robot_3/base_scan" to="robot_3/scan"/>
    <remap from="robot_4/base_scan" to="robot_4/scan"/>
    <remap from="/clock" to = "stage/clock" />
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
  
  <node name="stage_neighbor_sensors" pkg="stage_launch" type="stage_neighbor_position_sensors.py" >
    <param name="robot_num" value="5" />
    <param name="R" value="10.0" />
  </node>

</launch>
